*, *::before, *::after {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.wallpapersafari.com/36/85/ibv2Jg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
  }

  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 6px;
    box-align: center;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  .glow {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

p {
    text-align: center;
    font-size: 30px;
}
#question {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

  
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8fc2f1, 0 0 40px #8fc2f1, 0 0 50px #8fc2f1, 0 0 60px #8fc2f1, 0 0 70px #8fc2f1;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2b8af7, 0 0 40px #2b8af7, 0 0 50px #2b8af7, 0 0 60px #2b8af7, 0 0 70px #2b8af7, 0 0 80px #2b8af7;
  }
}
